[submodule "libsuperderpy"]
	path = libsuperderpy
	url = https://gitlab.com/dosowisko.net/libsuperderpy-examples.git/../../dos1/libsuperderpy.git
[submodule "utils"]
	path = utils
	url = https://gitlab.com/dosowisko.net/libsuperderpy-examples.git/../../dos1/libsuperderpy-utils.git
